/* TITULO DE PAGINA */
.title {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  color: #0d0e0d;
}

body {
  background-image: url(./src/montanas-en-bosque-minimalista-flat_2560x1440_xtrafondos.com.jpg);
}

a {
  text-decoration: none;
  color: #7e1e79;
  font-family: Arial, Helvetica, sans-serif;
}

/* CAJA DE BOTONES */
.box {
  display: block;
  width: 100%;
  padding: 8px;

  margin-bottom: 20px;
  box-sizing: border-box;
  font-size: 4rem;
  text-align: center;
  text-decoration: none;
}

/* BOTONES */
button {
  /*  padding: 4px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: helvetica;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;

  background-color: #ffffff;
  border-radius: 10px;
  border-color: #ffffff;
   */

  background-color: #ffffff; /* Green */
  border: none;
  color: white;
  padding: 7px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 100px;
}

/* CAJA DE IMAGEN */
.kuroko {
  height: 300px;
}

/* IMAGEN */
.image {
  width: auto;
  max-height: 100%;
  display: block;
  margin: auto;
}

/* PIE DE PAGINA */
b {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  display: block;
  margin: auto;
  color: #201217;
  /* padding: 90px; */
  margin-top: 370px;
}

/* NUEVO */


