body {
  background-image: url(https://images7.alphacoders.com/115/1155238.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* imagen carnet */

.header__professional-image {
  border-radius: 3%;
  display: block;
  margin: auto;
   position: relative;
  bottom: -200px;
}

/* CAJA TEXTO */
.article__title,
.article__keywords,
.article__presentation {
  letter-spacing: 1.5px;
  margin: 0;
  font-size: 30px;
}

article {
  text-align: center;
  position: relative;
  bottom: -250px;
 
  
}

/* ICONOS */
.footer {
  display: flex;
  gap: 1rem;
  justify-content: center;
   position: relative;
  bottom: -260px;
}

.footer__link-icon-container {
  display: flex;
  transition: all 0.2s;
  max-width: 2rem;
}

.footer__link-icon-container:hover {
  transform: scale(1.25);
}

.footer__link-icon {
  width: 100%;
}
